// Theme colors
$primary: #4e70be;
$secondary: #87a1de;
$accent: #648ae1;
$text: #050608;
$background: #f7f9fb;

$dark: #1b1b1b;
$light: #f3f3f3;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --text: #{$text};
  --background: #{$background};
}


$text-50: #eff1f5;
$text-100: #e0e4eb;
$text-200: #c0c8d8;
$text-300: #a1adc4;
$text-400: #8291b0;
$text-500: #62769d;
$text-600: #4f5e7d;
$text-700: #3b475e;
$text-800: #272f3f;
$text-900: #14181f;
$text-950: #0a0c10;

$background-50: #eef2f6;
$background-100: #dde6ee;
$background-200: #bbccdd;
$background-300: #99b2cc;
$background-400: #7799bb;
$background-500: #557faa;
$background-600: #446688;
$background-700: #334c66;
$background-800: #223344;
$background-900: #111922;
$background-950: #090d11;

$primary-50: #ecf0f8;
$primary-100: #dae1f1;
$primary-200: #b5c3e3;
$primary-300: #8fa4d6;
$primary-400: #6a86c8;
$primary-500: #4568ba;
$primary-600: #375395;
$primary-700: #293e70;
$primary-800: #1c2a4a;
$primary-900: #0e1525;
$primary-950: #070a13;

$secondary-50: #ebeffa;
$secondary-100: #d7e0f4;
$secondary-200: #afc0e9;
$secondary-300: #87a1de;
$secondary-400: #5f82d3;
$secondary-500: #3762c8;
$secondary-600: #2c4fa0;
$secondary-700: #213b78;
$secondary-800: #162750;
$secondary-900: #0b1428;
$secondary-950: #050a14;

$accent-50: #eaeffb;
$accent-100: #d4dff7;
$accent-200: #a9beef;
$accent-300: #7e9ee7;
$accent-400: #547dde;
$accent-500: #295dd6;
$accent-600: #214aab;
$accent-700: #183881;
$accent-800: #102556;
$accent-900: #08132b;
$accent-950: #040915;